<footer>
    <!-- footer -->
    <section class="w3l-footer">
        <div class="w3l-footer-16-main py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 column">
                        <div class="row">
                            <div class="col-md-8 column">
                                <ul class="footer-gd-16">
                                    <li><a href="/">Anasayfa</a></li>
                                    <li><a href="/about">Hakkımızda</a></li>
                                    <li><a href="/destination">Turlar</a></li>
                                    <li><a href="/contact">İletişim</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 column pl-lg-5 column4 mt-lg-0 mt-5">
                        <h3>Haberler</h3>
                        <div class="end-column">
                            <h4>En son gelişmelerden haberdar olun</h4>
                            <form action="#" class="subscribe" method="post">
                                <input type="email" name="email" placeholder="Email" required="">
                                <button type="submit">Go</button>
                            </form>
                            <p>En son haberlerimiz için kayıt olun</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex below-section justify-content-between align-items-center pt-4 mt-5">
                    <div class="columns text-lg-left text-center">
                        <p>
                            &copy; 2022 UYUMAZ TOUR. Tüm Hakları Saklıdır. Design by <a href="https://github.com/musauyumaz" target="_blank">
                                UYUMAZ Corporation
                            </a>
                        </p>
                    </div>
                    <div class="columns-2 mt-lg-0 mt-3">
                        <ul class="social">
                            
                            <li>
                                <a href="https://www.linkedin.com/in/musauyumaz/"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/musa.uyumaz26/"><span class="fa fa-instagram" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="https://github.com/musauyumaz"><span class="fa fa-github" aria-hidden="true"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>